
/* HEADER BEGINS */
.header-h3{
    color: rgb(255, 255, 255);
}
/* HEADRE ENDS */



/* BODY BEGINS */
body {
    padding:0%;
    margin: 0%;
}

.index {
    background-image: url("../Images/Body_Background/BG2.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
/* BODY ENDS */




/* DARKCODE */


.login-form{
  width: 470px;
  background: rgb(0, 0, 0,0.8);
  padding: 30px 60px;
  margin-top: 15%;
}

.logo{
  height: 50px;
  text-align: center;
}

.logo img{
  height: 50px;
}

.login-form h6{
  color: #f1f1f1;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.textbox{
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 15px;
}

.textbox input{
  width: 100%;
  height: 50px;
  border: none;
  background: #2b2b2b;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
  color: #f4f4f4;
}

.textbox input:focus{
  background: #484848 !important;
}

.login-btn{
  color: #f1f1f1;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background: #191919;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s linear;
}

.hidden{
  display: none;
}

@media screen and (max-width:470px) {
  body{
    background: #202020;
  }

}
  /*DARKCODE*/


  /*M-CODE*/
li {
    list-style-type: circle;
}

ul {
    margin: 0;
    padding: 0;
  }
  

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgba(44, 43, 43, 0.8);
    font-size: 18px;
    transition: 0.2s;
    
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  ul li:nth-child(odd) {
  
    background: rgb(0, 0, 0, 0.8);
  }
  
  ul li:hover {
    background: #ddd;
    color: rgb(0, 0, 0);
  }
  
  ul li.checked {
    background: rgb(255, 255, 255,0.8);
    color: rgb(0, 0, 0);
    text-decoration: line-through;
    
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0 4px 4px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
  }
  .addBtn
  {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 30%;
  }
  #myDIV
  {
    text-align: center;
  }
  #ulist
  {
    text-align: center;
    color:rgb(255, 255, 255);
  }

  #myInput{
    text-align: center;
  }

  h2
{
  color: black;
}
